@model IEnumerable<About>
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/Site/images/bg-title-page-03.jpg);">
	<h2 class="tit6 t-center">
		Hakkımızda
	</h2>
</section>


<!-- Our Story -->
<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
	<span class="tit2 t-center">
		Pato Restaurant
	</span>

	<h3 class="tit3 t-center m-b-35 m-t-5">
		Hikayemiz
	</h3>

	@foreach (var item in Model)
	{
		<p class="t-center size32 m-l-r-auto">
			@item.Title
		</p>
	}

	
</section>


<!-- Video -->
<section class="section-video parallax100" style="background-image: url(/Site/images/header-menu-01.jpg);">
	<div class="content-video t-center p-t-225 p-b-250">
		<span class="tit2 p-l-15 p-r-15">
			Keşfedin
		</span>

		<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
			Bizi Tanıyın
		</h3>

		<div class="btn-play ab-center size16 hov-pointer m-l-r-auto m-t-43 m-b-33" data-toggle="modal" data-target="#modal-video-01">
			<div class="flex-c-m sizefull bo-cir bgwhite color1 hov1 trans-0-4">
				<i class="fa fa-play fs-18 m-l-2" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</section>